<%- include ('./partials/header') %>

<div class="box">
  <h1>Welcome to Similar</h1>
  <h5>IN ORDER TO FIND, YOU MUST FIRST SEARCH</h5>
  <div class="container">
    <form action="/search">

      <input type="text" name="searchterm" required>
      <button>Search</button>

    </form>

  </div>
</div>

<div class="output">
  <div class="container">
    <img src="/public/notfound.png" alt="">
    <!-- <h1 class="warning_header">Not found !!!</h1>
    <h1>☹️</h1> -->
  </div>
</div>




</body>

</html>